* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 15px;
    padding-top: 10px;
}

#statusBar {
    width: 880px;
    height: 20px;
    margin-bottom: 0px;
    font-size: 14px;
    color: rgba(51, 125, 1, 0.6);
}

#map {
    height: 740px;
    width: 880px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

    .iconPinRed, .iconPinOrange, .iconPinYellow, .iconPinGreen, .iconPinBlue, .iconPinIndigo, .iconPinViolet {
        display: inline-block;
        height: 30px !important;
        width: 30px !important;
        background-size: 30px 30px;
    }

    .iconPinRed {
        background-image: url("/icons/pin-red.png");
    }

    .iconPinOrange {
        background-image: url("icons/pin-orange.png");
    }

    .iconPinYellow {
        background-image: url("icons/pin-yellow.png");
    }

    .iconPinGreen {
        background-image: url("icons/pin-green.png");
    }

    .iconPinBlue {
        background-image: url("icons/pin-blue.png");
    }

    .iconPinIndigo {
        background-image: url("icons/pin-indigo.png");
    }

    .iconPinViolet {
        background-image: url("icons/pin-violet.png");
    }

#divConnections {
    float: left;
    margin-left: 5px;
    width: 600px;
}

    #divConnections a {
        color: #5566FF;
        text-decoration: none;
    }

        #divConnections a:hover {
            text-decoration: underline;
        }

    #divConnections table {
        border-collapse: collapse;
        width: 100%;
    }

    #divConnections table td {
        border: solid 1px #444;
        padding: 1px;
    }

    #divConnections table tr td:nth-of-type(1) {
        width: 70px;
        overflow: hidden;
    }

    #divConnections table tr td:nth-of-type(2) {
        width: 150px;
        overflow: hidden;
    }

    #divConnections table tr:nth-of-type(2n+1) {
        background-color: rgba(255,255,255,0.1)
    }

@media only screen and (max-width: 800px) and (max-height: 480px) {
    #map {
        height: 200px;
        width: 200px;
    }

    #connectionFields, #header {
        display: none;
    }
}
